[user]
  name = Nikita Skazki
  email = nskazki@gmail.com

[alias]
  # base
  unstage = "reset HEAD" # https://git-scm.com/book/en/v2/Git-Tools-Reset-Demystified#_reset_with_a_path
  recommit = "commit --amend"
  uncommit = "!f() { \
    rm -f \"$(git git-dir)/.uncommit_cnt\"; \
    git log -1 --pretty=%B > \"$(git git-dir)/.uncommit_msg\"; \
    git reset --soft HEAD^; \
  }; f"

  recreate-conflict = "checkout --conflict=diff3"

  # paths
  root = "rev-parse --show-toplevel"
  git-dir = "rev-parse --git-dir"

  # delete
  tag-delete = "!git tag -d $1; git push origin :refs/tags/$1;"
  branch-delete = "!git branch -D $1; git push origin --delete $1;"

  # logs
  log-hist = "log --graph --color=always --date=format:'%Y-%m-%d %H:%M' --format='%C(magenta)%h%C(reset) %C(blue)%ad%C(reset) %C(green)%an%C(reset) %s%C(auto)%d%C(reset)'"
  log-last = "!git --no-pager log-hist -n 10"

  # verbose
  branch-verbose = "branch -av"
  remote-verbose = "remote -v"

  # status
  status-short = "status -s"

  # diff
  diff-staged = "diff --staged"

  # viewcommit
  view-commit-head = "show --color=always --pretty=fuller --root --stat"
  view-commit = "!git view-commit-head --patch-with-stat"

  # branch
  branch-name = "rev-parse --abbrev-ref HEAD"
  branch-rename = "branch -m"

[core]
  autocrlf = input
  safecrlf = true
  ignorecase = true
  editor = micro

[core]
  # https://github.com/git/git/blob/master/contrib/diff-highlight
  # https://github.com/dandavison/delta
  # https://github.com/mookid/diffr
  pager = diffr --colors refine-removed:none:background:0x8f,0x00,0x34:nobold --colors removed:none:background:0x42,0x00,0x18 --colors refine-added:none:background:0x2d,0x50,0x02:nobold --colors added:none:background:0x14,0x23,0x01 | less

[am]
  threeWay = true

[add "interactive"]
  useBuiltin = true

[apply]
  whitespace = fix

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
  renames = copies
  algorithm = minimal

[merge]
  log = true
  autostash = true
  conflictstyle = diff3

[pull]
  ff = only

[push]
  default = simple
  followTags = true
  autoSetupRemote = true

[rebase]
  autostash = true
  autosquash = false
  updateRefs = true # https://andrewlock.net/working-with-stacked-branches-in-git-is-easier-with-update-refs/
  missingCommitsCheck = error

[status]
  relativePaths = false
  showUntrackedFiles = all

[stash]
  showPatch = true

[commit]
  verbose = true

[fetch]
  prune = true
  pruneTags = true

[rerere]
  enabled = true
  autoupdate = true

[cola]
  spellcheck = false
  theme = flat-light-blue
  icontheme = light
  fontdiff = Hack,14,-1,5,50,0,0,0,0,0

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
