# https://github.com/scopatz/nanorc

# This code is free software; you can redistribute it and/or modify it under
# the terms of the new BSD License.
#
# Copyright (c) 2010, Sebastian Staudt

# A nano configuration file to enable syntax highlighting of some Git specific
# files with the GNU nano text editor (http://www.nano-editor.org)
#
syntax "git-commit" "COMMIT_EDITMSG|TAG_EDITMSG"

# Comments
color brightblack "^#.*"

# Files changes

color white         "#[[:space:]](deleted|modified|new file|renamed):[[:space:]].*"
color brightmagenta "#[[:space:]]deleted:"
color brightblue    "#[[:space:]]modified:"
color brightred     "#[[:space:]]new file:"
color brightcyan    "#[[:space:]]renamed:"

color brightblue,white "^#[[:space:]]Changes to be committed[:]"
color brightwhite,blue "^#[[:space:]]Changes not staged for commit[:]"
color brightwhite,red  "^#[[:space:]]Untracked.*[:]"

color brightred     "^#[[:space:]]Your branch and '[^']+"
color brightblack   "^#[[:space:]]Your branch and '"
color brightwhite   "^#[[:space:]]On branch [^ ]+"
color brightblack   "^#[[:space:]]On branch"

# Commit IDs
color cyan "[0-9a-f]{7,40}"

# Files diff
# https://gist.github.com/keithamus/736220

color green "^\+.*"
color red "^-.*"
color brightyellow "^(diff|index|---|\+\+\+).*"
color brightmagenta "@@.*@@"

# Hash
color brightblack "^#\s+"

# This syntax format is used for interactive rebasing
syntax "git-rebase-todo" "git-rebase-todo"

# Comments
color brightblack "^#.*"

# Rebase commands
color green         "^(e|edit) [0-9a-f]{7,40}"
color green         "^# (e, edit)"
color brightred     "^(f|fixup) [0-9a-f]{7,40}"
color brightred     "^# (f, fixup)"
color brightwhite   "^(p|pick) [0-9a-f]{7,40}"
color brightwhite   "^# (p, pick)"
color brightblue    "^(r|reword) [0-9a-f]{7,40}"
color brightblue    "^# (r, reword)"
color brightmagenta "^(s|squash) [0-9a-f]{7,40}"
color brightmagenta "^# (s, squash)"
color yellow        "^(x|exec) [^ ]+ [0-9a-f]{7,40}"
color yellow        "^# (x, exec)"

# Hash
color brightblack "^#\s+"

# Commit IDs
color cyan "[0-9a-f]{7,40}"

# https://www.geoffreybrown.com/blog/nano-keystroke-configuration/

set nonewlines
set morespace
set multibuffer
set quickblank
set regexp
set smooth
set tabsize 4
set tabstospaces
set historylog
set constantshow
set linenumbers

bind M-M mark main
bind ^V uncut main
bind ^C copytext main

bind ^Q exit main
bind ^S savefile main
bind M-W searchagain main

bind ^A home main
bind ^E end main
bind ^G gotoline main

bind ^F nextpage main
bind ^B prevpage main

bind ^H replace main

bind ^Z undo main
bind ^Y redo main

bind M-A help main
bind M-H help main
