; https://docs.npmjs.com/misc/config

init-author-name = "nskazki"
init-author-email = "nskazki@gmail.com"
init-license = "MIT"

; The depth to go when recursing directories for npm ls, npm cache ls, and npm outdated
depth = 0

; When set to true, npm will display a progress bar during time intensive operations
progress = false

; Save installed packages to a package.json file as dependencies.
; When used with the npm rm command, it removes it from the dependencies object.
save = true
